body {
    background: lightblue;
    width: 800px;
}
h1 {
    text-align: center;
}
.myGridContainer {
    /*text-align: center;*/
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    padding: 10px;
    float: left;
    border: 50px;
}
.myGridCell {
    border: 1px solid black;
    padding: 12px;
    
}
.opponentsGridContainer {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    padding: 10px;
    float: right;
    border: 50px;
}
.opponentsGridCell {
    border: 1px solid black;
    padding: 12px;
    
    
}
